---
import Layout from "../layouts/Layout.astro";
import Mentors from "../components/Mentors.astro";
import Pattern from "../components/Pattern.astro";
import WhenWhereWhy from "../components/WhenWhereWhy.astro";
import HowTo from "../components/HowTo.astro";
import about_pic from "../../public/about-pic.jpeg";
import { Image } from "astro:assets";
---

<Layout
  title="Despre | CoderDojo Alba Iulia"
  paddingTop="28"
>
  <div class="bg-gray-100 px-6 lg:px-8 md:pt-48 relative">
    <div class="mx-auto max-w-7xl text-base leading-7 text-gray-700 sm:px-10">
      <p class="text-base font-semibold leading-7 text-accent px-1">
        Coder Dojo Alba Iulia
      </p>
      <h1
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Călătoria ta prin tainele programării începe aici!
      </h1>
      <p class="mt-6 text-xl">
        Fie că ești începător sau ai deja cunoștințe în programare, ai ajuns
        unde trebuie, printre ninjas curioși, la fel ca tine, și mentori
        pregătiți să îți vină în ajutor.
      </p>
      <p class="mt-6 text-xl">
        CoderDojo a ajuns în peste 100 de țări, iar acum este în orașul tău,
        datorită inițiativei AI3, primul cluster de IT din Alba. Dacă ai între 7
        și 17 ani, ești pasionat de programare sau vrei să te inițiezi într-un
        domeniu captivant, vino în gașca noastră!
      </p>
      <WhenWhereWhy />
      <div class="mt-10">
        <HowTo />
        <p>
          Poți să devii <span class="text-accent">mentor</span> dacă ai fost ninja
          la vreun CoderDojo existent sau dacă ești membru <a
            href="https://ai3.ro/">AI3</a
          >. Contactează-ne la <a href="mailto:salut@ai3.ro">salut@ai3.ro</a
          >.
        </p>
        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
          From novice to coding ninja
        </h2>
        <p class="mt-6 text-lg">
          Indiferent dacă ești începător sau ai deja cunoștințe în programare,
          la CoderDojo Alba Iulia ai șansa să devii un adevărat ninja!
          Inițiază-te în lumea programării alături de mentori experimentați care
          te vor ghida pas cu pas în explorarea acestui univers fascinant. Fie
          că ești la prima ta întâlnire cu codul sau vrei să îți îmbunătățești
          abilitățile, CoderDojo Alba Iulia este locul perfect pentru tine.
        </p>

        <p class="mt-10 text-lg">
          Descoperă lumea programării alături de noi și lasă-ți imaginația să
          zboare în această călătorie captivantă prin cod!
        </p>
      </div>
      <figure class="mt-16">
        <Image
          class="aspect-video rounded-xl bg-gray-50 object-cover"
          src={about_pic}
          alt=""
        />
      </figure>
      <Mentors />
    </div>
    <Pattern />
  </div>
</Layout>
