---
import Image from "astro/components/Image.astro";
import tudor_image from "../../public/tudor.jpeg";
---

<div class="relative bg-[#301934]">
  <div class="absolute bottom-0 h-80 w-full xl:inset-0 xl:h-full">
    <div class="h-full w-full xl:grid xl:grid-cols-2">
      <div class="h-full xl:relative xl:col-start-2">
        <Image
          class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0"
          src={tudor_image}
          alt="People working on laptops"
        />
        <div
          aria-hidden="true"
          class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-[#301934] xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"
        >
        </div>
      </div>
    </div>
  </div>
  <div
    class="mx-auto max-w-4xl px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-flow-col-dense xl:grid-cols-1 xl:gap-x-8"
  >
    <div class="relative pb-64 pt-12 sm:pb-64 sm:pt-24 xl:col-start-1 xl:pb-24">
      <h2 class="mt-3 text-3xl font-bold tracking-tight text-white">
        Cum participi?
      </h2>
      <p class="mt-5 text-lg text-gray-300 font-light">
        În fiecare săptămână, joi, de la ora 16:00, ne dăm întâlnire la
        CoderDojo, pe <a
          href="https://maps.app.goo.gl/rguUaLxb9ctmKuMg6"
          class="font-semibold"
          >Str. Gladiolelor, nr. 3A</a
        >, în Alba Iulia. <br />Vino cu entuziasm și o doză de curiozitate, dacă
        vrei să:
      </p>
      <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-3">
        <p>
          <span class="block text-2xl font-bold text-white">Înveți</span>
          <span class="mt-1 block text-base text-gray-300 font-light"
            >Descoperi lucruri interesante, le testezi și creezi proiecte
            fabuloase, având mereu sprijinul mentorilor.
          </span>
        </p>
        <p>
          <span class="block text-2xl font-bold text-white">Socializezi</span>
          <span class="mt-1 block text-base text-gray-300 font-light"
            >Îți faci prieteni noi, la tot pasul, alături de care să
            împărtășești pasiunea ta pentru programare.</span
          >
        </p>
        <p>
          <span class="block text-2xl font-bold text-white">Te distrezi</span>
          <span class="mt-1 block text-base text-gray-300 font-light"
            >Unde-i loc de programare, e loc și de distracție. Fii pregătit să
            râzi pe cinste la fiecare Dojo!
          </span>
        </p>
      </div>
      <p class="mt-5 text-lg max-w-4xl text-gray-100 font-light pt-16">
        Acum că ai motive întemeiate să participi la CoderDojo mai rămâne doar
        să te înscrii. Pașii sunt simpli: citește <a
          href="/regulament"
          class="font-semibold"
          >regulamentul</a
        >, roagă un tutore să completeze <a
          href="https://forms.gle/4fqArMANeztCBgSr7"
          class="font-semibold"
          >formularul de înscriere</a
        > și nu uita să ne urmărești pe <a
          href="https://www.facebook.com/groups/1609746875954975/"
          class="font-semibold"
          >grupul de Facebook</a
        > pentru a rămâne la curent cu actualizări despre program.
      </p>
    </div>
  </div>
</div>
