---
import NavLinks from "./NavLinks.astro";
import MobileNav from "./MobileNav.jsx";
---

<div
  class="fixed mx-auto w-full bg-gray-600/50 backdrop-blur md:bg-white flex justify-between md:max-w-7xl md:relative z-50 md:block md:justify-center items-center"
>
  <div class="px-6 pt-6 w-full lg:max-w-3xl lg:pl-8 lg:pr-0 block lg:absolute">
    <nav
      class="flex items-center justify-between lg:justify-start"
      aria-label="Global"
    >
      <a
        href="/"
        class="-m-1.5 p-0 md:p-1.5 z-50"
      >
        <span class="sr-only">CoderDojo Alba Iulia</span>
        <img
          alt=""
          src="/logo.png"
          class="w-32 h-32"
        />
      </a>
      <NavLinks />
      <MobileNav client:idle />
    </nav>
  </div>
</div>
