---
import NavLinks from "./NavLinks.astro";
import MobileNav from "./MobileNav.jsx";
---

<div
  class="fixed h-24 md:h-full mx-auto w-full shadow-[0px_0px_0px_1px_rgba(0,0,0,0.06),0px_1px_1px_-0.5px_rgba(0,0,0,0.06),0px_3px_3px_-1.5px_rgba(0,0,0,0.06),_0px_6px_6px_-3px_rgba(0,0,0,0.06),0px_12px_12px_-6px_rgba(0,0,0,0.06),0px_24px_24px_-12px_rgba(0,0,0,0.06)] backdrop-blur md:bg-white flex justify-between md:max-w-7xl md:relative z-50 md:block md:justify-center items-center"
>
  <div
    class="px-6 h-36 pt-6 w-full lg:max-w-3xl lg:pl-8 lg:pr-0 block lg:absolute"
  >
    <nav
      class="flex items-center justify-between lg:justify-start"
      aria-label="Global"
    >
      <a
        href="/"
        class="m-0 md:-m-1.5 p-0 md:p-1.5 z-50"
      >
        <span class="sr-only">CoderDojo Alba Iulia</span>
        <img
          alt=""
          src="/logo.png"
          class="w-24 h-24 md:w-32 md:h-32"
        />
      </a>
      <NavLinks />
      <MobileNav client:idle />
    </nav>
  </div>
</div>
