<div
  class="bg-gray-100 hidden lg:block lg:absolute lg:top-0 lg:right-0 lg:w-1/2 relative"
>
  <svg
    class="absolute top-0 left-0 hidden h-48 w-fulltranslate-x-1/2 transform fill-gray-100 lg:block"
    viewBox="0 0 100 100"
    preserveAspectRatio="none"
    aria-hidden="true"
  >
    <polygon points="0,0 100,50 50,100 0,100"></polygon>
  </svg>
  <img
    class="aspect-[3/2] object-cover lg:aspect-auto lg:h-48 lg:w-full"
    src="/bg_header.jpeg"
    alt=""
  />
</div>
