<div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-3">
  <p>
    <span class="flex items-center gap-x-2 text-3xl font-bold text-gray-900">
      <img
        src="/when.svg"
        class="w-10 h-10"
        alt=""
      />
      <span>Când ne vedem?</span></span
    >
    <span class="mt-4 block text-base text-gray-700 font-light"
      >Săptămânal, în fiecare joi după școală, de la ora 16:00, începe
      CoderDojo.
    </span>
  </p>
  <p>
    <span class="flex items-center gap-x-2 text-3xl font-semibold text-gray-900"
      ><span
        ><img
          src="/where.svg"
          alt=""
          class="w-10 h-10"
        />
      </span>Unde ne vedem?</span
    >
    <span class="mt-4 block text-lg text-gray-700 font-light"
      ><a
        href="https://maps.app.goo.gl/rguUaLxb9ctmKuMg6"
        class="font-semibold"
        >La Centrul Academia Doamnelor, pe Str. Gladiolelor, nr. 3A, în Alba
        Iulia.</a
      ></span
    >
  </p>
  <p>
    <span class="flex items-center gap-x-2 text-3xl font-bold text-gray-900"
      ><img
        src="/what.svg"
        class="w-10 h-10"
        alt=""
      /><span>Ce facem?</span></span
    >
    <span class="mt-4 block text-base text-gray-700 font-light"
      >Învățăm să programăm prin metode interactive și distractive.
    </span>
  </p>
</div>
