---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Pattern from "../components/Pattern.astro";

interface Props {
  title: string;
  paddingTop: string;
}

const { title, paddingTop } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="CoderDojo Alba Iulia este parte a unei inițiative globale de a crea cluburi de programare pentru copii și adolescenți în care copiii (“ninjas” - între 7 și 17 ani) învață programare de la voluntari (“mentors”) din comunitatea locală. Dojo-ul din Alba Iulia este o inițiativă a AI3, primul cluster de IT din județul Alba."
    />
    <meta
      property="og:description"
      content="CoderDojo Alba Iulia este parte a unei inițiative globale de a crea cluburi de programare pentru copii și adolescenți în care copiii (“ninjas” - între 7 și 17 ani) învață programare de la voluntari (“mentors”) din comunitatea locală. Dojo-ul din Alba Iulia este o inițiativă a AI3, primul cluster de IT din județul Alba."
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      property="og:type"
      content="website"
    />

    <meta
      property="og:image:secure_url"
      content="https://coderdojo.ai3.ro/logo.png"
    />
    <meta
      property="og:image"
      content="https://coderdojo.ai3.ro/logo.png"
    />
    <meta
      property="og:url"
      content="https://coderdojo.ai3.ro"
    />
    <link
      rel="icon"
      href="/logo.png"
    />
    <meta
      property="og:title"
      content={title}
    />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <div
      class={`pt-${paddingTop} pt-48 max-w-4xl mx-auto prose bg-white px-6 md:px-0 py-32 pb-16 md:pt-48 `}
    >
      <slot />
    </div>
    <Pattern />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text: #d946ef;
  }
</style>
../components/Navbar.jsx
